<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="../public/stylesheets/style.css" />
    <link rel="shortcut icon" href="../public/images/favicon.ico" />
</head>
<body>
    <div class="wrapper">
    <div class="content">
        <%- include("./header.html") %>
        <br>
        <p class="aligncenter">
            <img src="../public/images/asd.jpg" alt="logo">
        </p>

        <br><br>
        <div id="intro">
            <p class="intro">
                Добро пожаловать в наш интернет-магазин! Наша компания приветствует всех, кто зашёл на сайт!
                Наш интернет-магазин предлагает самые низкие цены, даже и не пытайтесь найти дешевле!
                Наша компания существует уже много лет, на рынке мы являемся самой надёжной и успешной компанией. 
                Покупайте в нашем интернет-магазине снова и снова. Поверьте, у нас есть всё необходимое.
                
                
            <p class="intro">
                Вашему вниманию самый широкий ассортимент товаров на всём рынке.
                Ждём вас за покупками каждый день, мы всегда к вашим услугам!
                
            </p>
        </div>
    
    </div>
    <%- include("./footer.html") %>
    </div>
</body>
</html>
